*:focus {
    outline: none;
}

a{
    color: rgb(96, 96, 255);
    text-decoration: underline;
}

h1{
    font-weight: 600;
    font-size: 35px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 37rem;
    width: 25rem;
    border-radius: 15px;
    /* border: 2px solid #7A68B6; */
    background-color: #EBD3F8;
    -webkit-box-shadow:0px 0px 259px 103px rgba(54,38,110,0.62);
    -moz-box-shadow: 0px 0px 259px 103px rgba(54,38,110,0.62);
    box-shadow: 0px 0px 259px 103px rgba(54,38,110,0.62);
    color: #AD49E1;
}

input{
    border-radius: 25px;
    height: 2.7rem;
    border: 2px solid#cd82f5;
    background-color: #f8eaff;
}


.registeration-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(189,139,222);
    background: linear-gradient(90deg, rgba(189,139,222,1) 0%, rgba(124,95,221,1) 100%);
}

.single-detail{
    margin-bottom: .7rem;
    gap: .5rem;
}

.details-container{
    width: 75%;
    margin-top: 5%;
    gap: 1rem;
}

.btn-1 {
    scale: .7;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
        Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    margin-bottom: .5rem;
}

.btn-1:disabled {
    cursor: default;
}

.btn-1:-moz-focusring {
    outline: auto;
}

.btn-1 svg {
    display: block;
    vertical-align: middle;
}

.btn-1 [hidden] {
    display: none;
}

.btn-1 {
    border: 1px solid;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
}

.btn-1 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-1:hover .original {
    transform: translateY(100%);
}

.btn-1 .letters {
    display: inline-flex;
}

.btn-1 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.3s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.3s;
}

.btn-1 span:nth-child(2n) {
    transform: translateY(15px);
}

.btn-1:hover span {
    opacity: 1;
    transform: translateY(0);
}

.btn-1:hover span:nth-child(2) {
    transition-delay: 0.1s;
}

.btn-1:hover span:nth-child(3) {
    transition-delay: 0.2s;
}

.btn-1:hover span:nth-child(4) {
    transition-delay: 0.3s;
}

.btn-1:hover span:nth-child(5) {
    transition-delay: 0.4s;
}

.btn-1:hover span:nth-child(6) {
    transition-delay: 0.5s;
}
