*:focus{
    border: none;
    outline: none;
}

.trianle-div{
    clip-path: polygon(100% 51%, 0 32%, 0 67%);
    height: 35%;
    width: 4rem;
    background-color: rgb(156 163 175);
    /* background-color: blueviolet; */
    left: 6.2rem;
}

.contacts{
    width: 7%;
}

.profiles{
    height: 88%;
    width: 100%;
    z-index: 2;
    background-color: blue;
}

.profile{
    cursor: pointer;
}


.icons{
    height: 12%;
}

.chat-section{
    width: 100%;
}

.chatter-info{
    height: 14%;
    width: 100%;
}

.enter-text{
    height: 12%;
    width: 100%;
    right: 5rem;
}

.input-message{
    width: 80%;
    height: 80%;
}

.emoji-selection {
    background-image: url('../../resources/selectEmoji.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Or cover depending on how you want the image to fit */
    width: 50px; /* Adjust based on your design */
    height: 50px; /* Adjust based on your design */
    cursor: pointer;
}

