*:focus{
    border: none;
    outline: none;
}


.contacts{
    width: 15rem;
    background-color: #7A67B6;
    position: fixed;
}

.profiles {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: calc(100% - 5rem - 12%); Adjusts for the fixed header and footer heights */
    width: 100%;
    z-index: 2;
    background-color: #7A67B6;
    margin-top: 2rem; /* Matches the height of .chatter-info to position it below */
    overflow-y: auto; /* Allows scrolling if content exceeds available space */
}

.profile{
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 5rem;
    aspect-ratio: 1 / 1;
    background-color: #C9BCF2;
    border-radius: 50%;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.icons{
    height: 10%;
    align-items: center;
    padding-top: 15%;
}

.icons:hover{
    cursor: pointer;
}

.hamburger{
    width: 35px;
    height: 5px;
    background-color: rgb(193, 145, 255);
    margin: 4px 0;
    border-radius: 12px;
}
